extend ../jade-templates/main.jade
block head
    - var title         =   "Home Page";
    - var description   =   "Home Page";
    - var keywords      =   "Gallery,Images";
    - var author        =   "Nicholas J. Phillips";
    ///Metadata
    meta(charset="UTF-8")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(name="author", content=author)
    //\Metadata
    
    block other

    ///Title
    title=title
    //\Title
block body
    - var imgs = [["../logos/logo.png","Our Logo","Our Logo"], ["./images/Clan.jpg","Our Clan Image","Our Clan Image/Logo"], ["./images/thomas Is Black.png","Thomas is Black","Thomas is Black?!"], ["./images/Boom.png","Boom","Boom!"], ["./images/1920x1080.png","Un-Titled","Untitled"]];
    //- fancyBox
    script(type="application/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
    .row
        .col-md-12
            ul.list-inline.gallery(style={"margin-left":"initial","text-align":"center"})
                - for(var i=0;i<imgs.length;i++)
                    li(style={"padding-top":"5px","padding-bottom":"5px"})
                        a.fancybox(href="#{imgs[i][0]}", alt="#{imgs[i][2]}",title="#{imgs[i][1]}"): img(src="#{imgs[i][0]}", height="300px",width="300px")
    script(type="application/javascript").
        $(".fancybox").attr("rel","gallery").fancybox();